body{
    padding:0;
    margin:0;
}

.anchor_button{
    padding:20px;
    border:1px solid black;
}
.anchor_button a{
    color:black;
}
/*normal button*/
.anchor_button .default{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}

/*mormal button*/

/*hover button*/
.anchor_button .default_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent_hover{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
/*hover button*/

/*active button*/
.anchor_button .default_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent_active{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
/*active button*/

/*bullet button*/
.anchor_button .default_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent_bullet{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
/*bullet button*/

/*bordered button*/
.anchor_button .default_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent_bordered{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
/*bordered button*/

/*tooltip button*/
.anchor_button .default_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent_tooltip{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
/*tooltip button*/

/*shadow button*/
.anchor_button .default_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent_shadow{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
/*shadow button*/

/*3d button*/
.anchor_button .default_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent_3d{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
/*3d button*/

/*square icon button*/
.anchor_button .default_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_button_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_rounded_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_rounded_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_rounded_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_icon_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_icon_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_icon_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .default_transparent_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .small_transparent_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
.anchor_button .large_transparent_icon_square{
    padding:4px 9px;
    background:#f1f1f1;
    text-decoration:none;
}
/*icon square button*/
